@page "/"
@inject formtest.Services.CompanyService CompanyService
@using formtest.Models
@rendermode InteractiveServer

<div style="display: flex; justify-content: flex-end; width: 100%;">
    <div style="max-width: 300px; margin-right: 20px;">
        <label for="companySelect">Välj Företag</label>
        <select @onchange="@(e => EnableEmployeeSelection(e.Value))">
            <option value="">Välj ett företag</option>
            @foreach (var company in companies)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </select>
    </div>

    <div style="max-width: 300px; margin-right: 20px;">
        <label for="employeeSelect">Välj Anställd</label>
        <select @onchange="@(e => OnEmployeeSelected(e.Value))" disabled="@isEmployeeListDisabled">
            <option value="">Välj en anställd</option>
            @foreach (var employee in employees)
            {
                @if (employee.CompanyId == selectedCompanyId)
                {
                    <option value="@employee.Id">@employee.FirstName @employee.LastName</option>
                }
            }
        </select>
    </div>
</div>

<div style="margin-top: 0px;">
    <h4>Anställd detaljer:</h4>
    <div>
        <label>Företag:</label>
        <input type="text" value="@($"{SelectedCompany?.Name ?? ""}")" readonly disabled="@isEmployeeListDisabled" />
    </div>
    <div>
        <label>Namn:</label>
        <input type="text" value="@($"{SelectedEmployee?.FirstName ?? ""} {SelectedEmployee?.LastName ?? ""}")" readonly disabled="@isEmployeeListDisabled" />
    </div>
    <div>
        <label>Adress:</label>
        <input type="text" value="@($"{SelectedEmployee?.Address ?? ""}")" readonly disabled="@isEmployeeListDisabled" />
    </div>

</div>

@code {
    private List<Company> companies = new();
    private List<Employee> employees = new();
    private int? selectedCompanyId;
    private bool isEmployeeListDisabled = true;
    private Employee SelectedEmployee;
    private Company SelectedCompany;

    protected override void OnInitialized()
    {
        companies = CompanyService.GetCompanies();
        employees = CompanyService.GetEmployees();
    }

    private void EnableEmployeeSelection(object selectedValue)
    {
        if (int.TryParse(selectedValue.ToString(), out int companyId))
        {
            selectedCompanyId = companyId;
            SelectedCompany = companies.FirstOrDefault(c => c.Id == companyId);
            isEmployeeListDisabled = selectedCompanyId <= 0;
        }
        else
        {
            isEmployeeListDisabled = true;
        }
        SelectedEmployee = null; 
        StateHasChanged();
    }

    private void OnEmployeeSelected(object selectedValue)
    {
        if (int.TryParse(selectedValue.ToString(), out int employeeId))
        {
            SelectedEmployee = employees.FirstOrDefault(e => e.Id == employeeId);
        }
        StateHasChanged();
    }
}
